<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{582,444}}</string>
                <key>offset</key>
                <string>{-8,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,175},{582,444}}</string>
                <key>sourceSize</key>
                <string>{640,688}</string>
            </dict>
            <key>hand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{865,159}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{865,159}}</string>
                <key>sourceSize</key>
                <string>{871,169}</string>
            </dict>
            <key>hand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{861,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{861,169}}</string>
                <key>sourceSize</key>
                <string>{871,169}</string>
            </dict>
            <key>hand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{865,133}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{865,133}}</string>
                <key>sourceSize</key>
                <string>{871,169}</string>
            </dict>
            <key>happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{614,540}}</string>
                <key>offset</key>
                <string>{-9,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,131},{614,540}}</string>
                <key>sourceSize</key>
                <string>{640,688}</string>
            </dict>
            <key>smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{582,444}}</string>
                <key>offset</key>
                <string>{-7,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,174},{582,444}}</string>
                <key>sourceSize</key>
                <string>{640,688}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a735414e5c1d67e25ef1f7c502dd582:1/1$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
