<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LOGO_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,636},{439,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,89}}</string>
                <key>sourceSize</key>
                <string>{439,89}</string>
            </dict>
            <key>ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{632,757}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,757}}</string>
                <key>sourceSize</key>
                <string>{632,757}</string>
            </dict>
            <key>bianxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{640,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,201}}</string>
                <key>sourceSize</key>
                <string>{640,201}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,977},{195,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{195,193}}</string>
                <key>sourceSize</key>
                <string>{205,201}</string>
            </dict>
            <key>num0.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,872},{86,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,118}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1123},{59,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,118}}</string>
                <key>sourceSize</key>
                <string>{59,118}</string>
            </dict>
            <key>num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1044},{77,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,118}}</string>
                <key>sourceSize</key>
                <string>{77,118}</string>
            </dict>
            <key>num6.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,960},{82,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,118}}</string>
                <key>sourceSize</key>
                <string>{82,118}</string>
            </dict>
            <key>pia.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,644},{403,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,137}}</string>
                <key>sourceSize</key>
                <string>{403,137}</string>
            </dict>
            <key>qfshare1.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1077},{252,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{252,96}}</string>
                <key>sourceSize</key>
                <string>{256,100}</string>
            </dict>
            <key>qfshare2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,644},{226,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{226,88}}</string>
                <key>sourceSize</key>
                <string>{256,100}</string>
            </dict>
            <key>restart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{252,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{252,96}}</string>
                <key>sourceSize</key>
                <string>{256,100}</string>
            </dict>
            <key>restart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,977},{214,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{214,82}}</string>
                <key>sourceSize</key>
                <string>{256,100}</string>
            </dict>
            <key>sharetitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{363,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{363,52}}</string>
                <key>sourceSize</key>
                <string>{369,56}</string>
            </dict>
            <key>shishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1077},{345,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,108}}</string>
                <key>sourceSize</key>
                <string>{345,108}</string>
            </dict>
            <key>tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{640,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,339}}</string>
                <key>sourceSize</key>
                <string>{640,339}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui2.png</string>
            <key>size</key>
            <string>{1018,1193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e10ae5166c293cb54c96ded4500b32e8$</string>
            <key>textureFileName</key>
            <string>ui2.png</string>
        </dict>
    </dict>
</plist>
